@media screen and (max-width: 768px) {
	.h1, .h2, .h3, h1, h2, h3 {
		margin: 10px 0;
	}
	.breadcrumb {
		/*display: none;*/
	}
	.search-mobile,
	.filter-mobile {
	    display: inline-block;
	    position: fixed;
	    padding-top: 0px;
	    top: 0px;
	    bottom: 48px;
	    right: -100%;
	    width: 100%;
	    background-color: #fff;
	    z-index: 999;
        overflow: auto;
	    -webkit-transition: all .5s ease-in-out;
	    -o-transition: all .5s ease-in-out;
	    transition: all .5s ease-in-out;
	}
	.search-mobile.show-search,
	.filter-mobile.show-search {
		right: 0px;
	}
	.toggle-search-mobile {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		cursor: pointer;
		display: block;
		padding: 7px 10px;
		text-align: center;
		z-index: 99;
	}
	.search-mobile .filter-home {
		position: relative;
		display: block;
		left: 0;
		top: 0;
		margin: 0;
		width: 100%;
	}
	.search-mobile .filter-home .body-filter {
		padding: 0;
		background: none;
	}
	.search-mobile .filter-home .body-filter .chosen-container {
		margin-bottom: 20px;
	}
	.search-mobile .body-filter .chosen-container-single .chosen-single {
		padding: 8px 10px;
		border: none;
		/* border-bottom: 1px solid #d2d2d2; */
	}
	.search-mobile .input-filter {
		padding: 0;
	}
	.search-mobile .button-filter {
		position: fixed;
	    bottom: 0;
	    width: 100%;
	}
	.closebtnsearch {
		position: relative;
	    display: block;
	    margin: 10px;
	    font-size: 24px;
	    color: #1b559e;
	    text-align: center;
	    width: 26px;
	    height: 26px;
	    float: right;
	    z-index: 99;
	    line-height: 26px;
	    border-radius: 50%;
	    border: 1px solid #1b559e;
	}
	.body-filter .btn {
		border-radius: 0px;
	}
	.top-container {
		padding: 10px 0;
	}
	.right-top-nav {
		/*float: none!important;*/
	    margin-left: 50px;
	}
	.account-area {
	    padding-right: 0px;
	    font-size: 12px;
	    width: auto;
	}
	.top-logo img {
		width: 100px;
	}
	.filter-home {
		display: none;
	}
	.nav-container {
	    position: fixed;
	    width: 100%;
	    left: 0;
	    top: 55px;
	    border: none;
	}
	#sidenav {
		display: block;
	}
	.toggle-nav {
		display: block;
	}
	.page-content {
		margin-top: 54px;
	}
	.owl-prev, .owl-next {
	    font-size: 20px;
	    margin: -10px 5px 0;
	    /*height: 20px;*/
	}
	.owl-carousel.owl-header .owl-item img {
		height: unset;
	}
	.card {
		margin-bottom: 20px;
	}
	.card.card-blue .card-content {
	    width: 100%;
	    background-color: rgba(27, 85, 158, .5);
	}
	.card.card-gold .card-content {
	    width: 100%;
        background-color: rgba(213, 180, 65, .5);
	}
	.card.card-blue .card-content-after,
	.card.card-gold .card-content-after {
		display: none;
	}
	.owl-carousel.owl-umroh .owl-nav .owl-prev, 
	.owl-carousel.owl-umroh .owl-nav .owl-next {
	    margin: -30px 0 0 0;
	    right: -30px;
	    width: 50px;
	    padding-right: 16px;
	    text-align: center;
	    color: #d5b341;
	    font-size: 30px;
	    background-color: #fff;
	    border: 1px solid #d5b341;
	}
	.owl-carousel.owl-umroh .owl-nav .owl-prev {
		left: -15px;
		width: 34px;
		padding-left: 0px;
	}
	.section {
		padding: 20px 0;
		width: 100%;
	}
	.section-title h2 {
		margin-bottom: 10px;
		margin-top: 0px;
	}
	.subtitle {
		margin-top: -10px;
	}
	.subtitle-top {
		margin-bottom: -10px;
	}
	.section-stream .section-body {
		padding: 0;
	}
	.section-stream .section-body .iframe iframe {
		width: 320px;
	    height: 180px;
	    margin-left: -15px;
	}
	iframe {
		width: 100%;
	}
	.owl-carousel.owl-umroh .owl-item {
		padding: 10px 15px 20px;
	}
	.owl-carousel.owl-umroh .owl-item:hover {
	    -webkit-transform: scale(1,1);
	    	-ms-transform: scale(1,1);
	    		transform: scale(1,1);
	}
	.section-feature {
		padding-bottom: 20px;
	}
	.section-feature .section-body .body-text{
		margin-bottom: 0px;
		padding-bottom: 20px;
		border-bottom: 2px dashed rgba(255,255,255,.5);
	}
	.section-feature .section-body .row [class*='col-'] {
		/* padding-top: 30px; */
		/* padding-left: 30px; */
		/* padding-right: 30px; */
		padding: 15px 15px;
		border: none;
	}
	.section-feature .section-body .row [class*='col-']:last-child {
		border: none;
	}
	.section-feature .section-body .row [class*='col-']:last-child  .body-text{
		border: none;
		padding-bottom: 0;
	}
	.slider-two {
	    margin-bottom: 0px;
	}
	.owl-carousel.owl-testimonial .owl-stage-outer {
		height: auto;
		overflow: -webkit-paged-y;
	}
	.owl-carousel.owl-testimonial .owl-prev, 
	.owl-carousel.owl-testimonial .owl-next {
	    width: 40px;
	    height: 40px;
	    top: 40px;
	    font-size: 20px;
	}
	.owl-testimonial {
		height: auto;
	}
	.owl-carousel.owl-testimonial .caption {
	    top: 0;
	}
	.owl-partner {
		margin: 20px 0;
	}
	.login-content {
		padding: 0px;
	}
	.section-login-register .section-title h2 {
		font-size: 30px;
	}
	.nav-tabs>li>a {
		font-size: 16px;
		padding: 10px 2px;
	}
	.tab-content {
	    padding: 20px 20px 0;
	}
	.heading-image {
		height: 100px;
	}
	.heading-image img {
	    height: 100%;
	    width: auto;
        max-width: unset;
	}
	.read-more-nav {
	    display: block;
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    text-align: center;
	    margin: 0;
	    padding: 10px 0 10px 0;
	    background-image: -moz-linear-gradient(top, rgba(255,255,255,.5), white);
	    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.0)),color-stop(1, white));
	    -webkit-transition: bottom .2s ease-in-out;
	    -o-transition: bottom .2s ease-in-out;
	    transition: bottom .2s ease-in-out;
	}
	.read-more-nav.bottom {
		/*bottom: 0px;*/
	}
	.page-default-side-list {
	    height: 64px;
	    overflow: hidden;
	    padding: 10px 0 0px;
	    margin-bottom: 20px;
	    margin-left: -14px;
	    margin-right: -14px;
	}
	.page-default-side-list.full-mobile {
		height: auto;
	    overflow: auto;
	    padding-bottom: 30px;
	}
	.nav-pills>li>a {
	    font-size: 18px;
	    padding: 5px 14px;
	}
	.page-default-list {
	    display: inline-block;
	    margin: 0px 0 0;
	    padding: 14px 0 0;
	    width: 100%;
	}
	.page-default-list .page-default-image {
		margin-bottom: 20px;
	}
	.page-default-list + .page-default-list {
		border-top: 1px solid #d2d2d2;
	}
	.page-default-title {
		margin-top: 10px;
	}
	.produk-deskripsi-main .row [class*='col-md-'] {
		display: block;
	}
	.cek-info-produk:last-child {
	    margin-bottom: 20px;
	}
	.cek-status-info .produk-deskripsi-main {
	    padding: 10px;
	}
	.produk-deskripsi-main .produk-deskripsi-item .produk-deskripsi-item-content {
		padding: 10px 0;
	    border: none;
	    border-top: 1px solid #d2d2d2;
	    display: block;
	}
	.produk-deskripsi-main .row [class*='col-md-']:first-child .produk-deskripsi-item-content {
		padding-left: 0px;
	}
	.pengajuan-top {
		padding: 0 20px;
	}
	.pengajuan-top .pengajuan-top-item {
		padding: 10px 0;
	    border: none;
	    border-bottom: 1px solid #d2d2d2;
	}
	.pengajuan-top .col-md-15:last-child .pengajuan-top-item {
	    border: none;
	}
	.pengajuan-total {
		padding: 20px;
	}
	.pengajuan-total .h1{
		font-size: 30px;
	}
	.form-edit-container {

	}
	.form-edit-container .col-left,
	.form-edit-container .col-right {
		width: 100%;
	    border-left: none;
	    border-right: none;
	    border-top: 1px solid #d2d2d2;
	}
	.form-edit-container .col-right {
		margin-left: 0px;
		margin-top: 20px;
	}
	.form-edit-container .col-content {
		margin: 20px 10px;
	}
	.menu-form-profil li {
		padding: 0 7px;
	    height: auto;
	}
	.menu-form-profil li .nomor {
		display: none;
	}
	.menu-form-profil li:after {
	    content: '';
	}
	.cek-status-top a span {
	    display: none;
	}
	.login-avatar {

	}
	.login-avatar {
	    width: auto;
	    height: 34px;
	}
	.login-avatar img {
	    width: auto;
	    height: 34px;
	    border-radius: 10px;
	}
	.wizzard-progress li {
		width: 100%;
	}
	.wizzard-progress li .line {
		display: none;
	}
	.wizzard-progress li .text-wizzard {
		margin-bottom: 20px;
	}
}


