@font-face {
  font-family: 'HelNeue-Light';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff2') format('woff2'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.ttf') format('truetype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Lt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelNeue-Medium';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff2') format('woff2'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.ttf') format('truetype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Md.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelNeue-Bold';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Bd?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Bd.woff2') format('woff2'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Bd.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Bd.ttf') format('truetype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Bd.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelNeue-Bold-CN';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-BdCn.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTStd-BdCn?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-BdCn.woff2') format('woff2'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-BdCn.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-BdCn.ttf') format('truetype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-BdCn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'HelNeue-CN';
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Cn.eot');
  src: url('../fonts/helvetica/HelveticaNeueLTStd-Cn?#iefix') format('embedded-opentype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Cn.woff2') format('woff2'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Cn.woff') format('woff'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Cn.ttf') format('truetype'), 
        url('../fonts/helvetica/HelveticaNeueLTStd-Cn.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
    font-family: 'HelNeue-Light', arial, sans-serif;
    color: #414141;
    font-size: 14px;
    text-align: left;
    background-color: #fff;
}
.page-loader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    color: #d5b341;
    text-align: center;
    z-index: 9999;
    background-color: rgba(255,255,255,1);
}
.page-loader div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -10px;
    width: 20px;
    height: 20px;
}
.text-medium {
    font-size: 20px;
}
.hide {
    display: none!important;
}
.show {
    display: block!important;
}
.hide + .chosen-container {
    display: none!important;
}
.show + .chosen-container {
    display: block!important;
}
.no-border {
    border: none!important;
}
.no-border-radius {
    border-radius: 0px!important;
}
.no-padding {
    padding: 0!important;
}
.no-padding-bottom {
    padding-bottom: 0!important;
}
.no-padding-top {
    padding-top: 0!important;
}
.no-margin {
    margin: 0!important;
}
.no-margin-bottom {
    margin-bottom: 0!important;
}
.no-margin-top {
    margin-top: 0!important;
}
.margin.mt-10 {margin-top: 10px!important;}
.margin.mt-20 {margin-top: 20px!important;}
.margin.mt-30 {margin-top: 30px!important;}
.margin.mt-40 {margin-top: 40px!important;}
.margin.mt-50 {margin-top: 50px!important;}
.margin.mt-60 {margin-top: 60px!important;}
.margin.mt-70 {margin-top: 70px!important;}
.margin.mt-80 {margin-top: 80px!important;}
.margin.mt-90 {margin-top: 90px!important;}
.margin.mt-100 {margin-top: 100px!important;}
.color-white {
    color: #fff;
}
.color-black {
    color: #000;
}
.color-gray {
    color: #777;
}
.color-blue {
    color: #1b559e;
}
.color-gold {
    color: #d5b341;
}

.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #000;
}
.bg-gray {
    color: #fff;
    background-color: #777;
}
.bg-light-gray {
    background-color: #f4f4f4;
}
.bg-blue {
    color: #fff;
    background-color: #1b559e;
}
.bg-gold {
    background-color: #d5b341;
}

.btn-primary {
    background-color: #1b559e;
    border-color: #1b559e;
}
.btn-gold {
    background-color: #d5b341;
    border-color: #d5b341;
}
.btn-link {
    color: #d5b341;
}
a {
    color: #1b559e;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5 {
    color: #000;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    font-weight: normal;
}
.h1,.h2,.h3,.h4,.h5 {
    margin-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
}
img {
    max-width: 100%;
}
b, strong {
    font-family: 'HelNeue-Bold';
}
.chosen-container-single .chosen-default {
    border-radius: 0px;
}
select.width-auto {
    width: auto;
}
select.no-border {
    border: none;
    box-shadow: none;
}
input.hidden-input {
    display: none;
}
.bg-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.6);
}
body.no-overflow {
    overflow: hidden!important;
}
body.open-nav-side {
    position: relative;
    z-index: 9999999;
    display: block;
    overflow: hidden;
}
body.open-nav-side #sidenav {
    /*width: 250px;*/
    left: 0;
}
#sidenav {
    position: fixed;
    left: -255px;
    width: 250px;
    z-index: 9999;
}
.toggle-nav {
    display: none;
    position: absolute;
    left: 15px;
    top: 0px;
    font-size: 24px;
    color: #d5b341;
    font-size: 30px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 30px;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.sidenav .navbar-nav {
    margin: 0;
}
.sidenav .navbar-nav>li>a{
    font-size: 16px;
    padding: 14px 0px 0px;
    margin: 10px 14px;
}
.sidenav .navbar-nav>li+li a{
    border-top: 1px solid #d2d2d2;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    margin-left: 10px;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.align-justify {
    text-align: justify;
}
.avatar {
    width: 60px;
    height: 60px;
}
.avatar img {
    width: 60px!important;
    height: 60px!important;
}
.img-rounded {
    border-radius: 10px;
}
.divider {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #d2d2d2;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.owl-theme .owl-dots .owl-dot.active span, 
.owl-theme .owl-dots .owl-dot:hover span {
    background: #1b559e;
}

.top-container {
    position: fixed;
    top: 0;
    display: block;
    background-color: #fff;
    padding: 22px 0;
    border-bottom: 1px solid #d2d2d2;
    z-index: 999;
    width: 100%;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.top-container.stickyTop {
    padding: 10px;
}
.top-container.stickyTop .navbar-nav>li>a {
    padding: 10px 24px;
    font-size: 13px;
}
.account-area {
    position: relative;
    display: inline-block;
    padding-right: 20px;
}
.account-area a {
    color: #000;
}
.top-logo {
    position: relative;
    display: inline-block;
    padding-left: 20px;
}
.top-logo img{
    width: 170px;
    height: auto;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.top-container.stickyTop .top-logo img {
    width: 100px;
}
.page-content {
    margin-top: 101px;
}
.navbar-toggle .icon-bar {
    background-color: #d5b341;
}
.nav-container {
    position: relative;
    display: block;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid #d2d2d2;
    background-color: #fff;
    z-index: 9;
    -webkit-transition: all .2s ease-in-out;
         -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
}
.nav-container.stickyNav {
    position: fixed;
    top: 55px;
    padding: 0px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.nav-container .navbar {
    margin: 0;
    text-transform: uppercase;
    font-size: 14px;
    min-height: unset;
}
.nav-container .navbar .navbar-nav {
    float: none!important;
    display: inline-block;
}
.navbar-nav>li>a {
    color: #6e6f71;
    padding: 15px 24px;

}
.navbar-nav>li.active>a,
.navbar-nav>li>a:hover {
    color: #b6a442;
    background: none;
}

.banner-home {
    position: relative;
    display: block;
}
.owl-carousel.owl-header .owl-item img {
    height: 100%;
}
.left-top-nav {
    position: relative;
    opacity: 0;
    visibility: hidden;
}
.left-top-nav.visible {
    opacity: 1;
    visibility: visible;
}
.left-top-nav .filter-home {
    display: block;
    position: relative;
    margin: 0;
    width: 94%;
    left: unset;
    top: unset;
    min-height: unset;
    z-index: 999;
}
.left-top-nav .filter-home .body-filter {
    background: none;
    padding: 0;
}
.left-top-nav .input-filter {
    padding: 0;
}
.left-top-nav .chosen-select-category + .chosen-container a.chosen-single{
    background-color: #d5b341;
    color: #fff;
    border-radius: 8px 0 0 8px;
}
.left-top-nav .body-filter .chosen-container-single .chosen-single {
    height: 32px;
    font-size: 14px;
    padding: 0 10px;
}
.left-top-nav .body-filter .btn {
    padding: 7px 10px;
    font-size: 16px;
}
.left-top-nav .body-filter .chosen-container-single .chosen-single div b {
    background-position: 0 7px;
}
.left-top-nav .body-filter .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 7px;
}
.left-top-nav .chosen-container.chosen-with-drop .chosen-drop {
    width: auto;
    min-width: 200px;
}
.left-top-nav:before {
    position: absolute;
    content: '';
    height: 55px;
    right: 0;
    left: -100%;
    top: -10px;
    background-image: url('../img/dummy/homebanner.jpg');
    background-repeat: no-repeat;
    background-position: right center;
}

.filter-home {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -388px;
    width: 776px;
    min-height: 60px;
    z-index: 10;
}
.tab-filter {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.tab-filter ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.tab-filter ul li{
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    display: inline-block;
}
.tab-filter ul li a,
.tab-filter ul li label {
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 20px;
    width: 188px;
    padding: 10px 20px 4px;
    display: block;
    color: #fff;
    background-color: rgba(213, 180, 65, .8);
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    margin-bottom: 0px;
    cursor: pointer;
}
.tab-filter ul li a:hover,
.tab-filter ul li label:hover{
    text-decoration: none;
}
.tab-filter ul li.active{
    /*background-color: rgba(0,0,0,.5);*/
}
.tab-filter ul li.active a,
.tab-filter ul li.active label{
    background-color: rgba(0,0,0,.5);
    padding-top: 20px;
    margin-top: 0;
}
.radio-hidden {
    display: none;
}
.body-filter {
    padding: 20px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;
}
.input-filter {
    position: relative;
    display: block;
    padding: 0px 0px 0 8px;
    border-radius: 10px;
    background-color: #fff;
}
.body-filter select {
    width: 100%;
}
.body-filter .chosen-container-single .chosen-single {
    height: 48px;
    font-size: 16px;
    font-style: italic;
    padding: 8px 0;
    border: none;
    border-radius: 0px;
    border-right: 1px solid #d2d2d2;
    box-shadow: none;
}
.body-filter .chosen-container-single .chosen-single div {
    width: 16px;
}
.body-filter .chosen-container-single .chosen-single div b {
    background-position: 0 14px;
}
.body-filter .chosen-container-active.chosen-with-drop .chosen-single div b {
    background-position: -18px 14px;
}
.chosen-container .chosen-results li.highlighted {
    background-color: rgba(213, 180, 65, .8);
}
.body-filter .btn {
    font-size: 24px;
    width: 100%;
    display: block;
    padding: 11px 10px;
    border-radius: 0 8px 8px 0;
}

.search-mobile,
.toggle-search-mobile {
    display: none;
}
.toggle-search-mobile {
    color: #fff;
    background-color: #1b559e;
}
.toggle-search-mobile span.fa{
    margin-right: 14px;
}

    
.section {
    position: relative;
    padding: 40px 0;
    display: block;
    overflow: hidden;
}
.section-title {

}
.section-title h2 {
    font-size: 40px;
    margin-bottom: 40px;
}
.section-title .h2  {
    font-size: 40px;
}
.section-body {
    
}

.section-feature {
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    background-color: #1b559e;
}
.section-feature .section-title h2,
.section-feature h1,
.section-feature h2,
.section-feature h3,
.section-feature h4,
.section-feature h5{
    color: #fff;
}
.section-feature .section-body {
    padding: 0 20px;
}
.section-feature .section-body .row [class*='col-']{
    border-left: 2px dashed rgba(255,255,255,.5);
}
.section-feature .section-body .row [class*='col-']:first-child{
    border-left: 0px dashed rgba(255,255,255,.5);
}
.section-feature .image-icon {
    margin-bottom: 20px;
}
.section-stream .section-body {
    padding: 40px 0;
    text-align: center;
    background-color: #000;
}
.section-stream .section-body .iframe iframe{
    width: 900px;
    height: 510px;
}
.body-text {
    color: rgba(255,255,255,.7);
    padding: 10px 26px;
    margin-bottom: 20px;
}

.subtitle,
.subtitle-top {
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: #999;
    margin-top: -40px;
}
.subtitle-top {
    text-transform: uppercase;
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 22px;
    color: #aaa;
    margin: 0;
    margin-bottom: -20px;
}
.card {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border-radius: 14px;
    margin-bottom: 60px;
}
.card.card-landscape {
    height: 290px;
}
.card.card-landscape .card-image img{
    max-width: unset;
}
.card-content {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    color: #fff;
    padding: 20px 30px;
    z-index: 5;
}
.card.card-blue .card-content {
    background-color: #1b559e;
}
.card.card-gold .card-content {
    background-color: #d5b441;
}
.card-content-after {
    position: absolute;
    content: '';
    left: 30%;
    top: -40px;
    bottom: 0;
    width: 130px;
    height: 115%;
    z-index: 0;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    z-index: 0;
}
.card.card-blue .card-content-after {
    background-color: #1b559d;
}
.card.card-gold .card-content-after {
    background-color: #d5b441;
}
.card-title {
    position: relative;
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 38px;
}
.card-title:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 30%;
    height: 4px;
    background-color: #fff;
}
.card-subtitle {
    position: relative;
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 24px;
    margin: 20px 0;
}
.card-price {
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 30px;
    margin: 0px 0 16px;
}
.card-button {

}
.card-button a.btn{
    color: #fff;
    font-size: 16px;
    padding: 10px 30px 5px;
    border: 1px solid #fff;
}
.card-button a.btn:hover{
    background-color: #fff;
    color: #1b559e;
}
.slider-two {
    margin-bottom: 30px;
}
.owl-carousel.owl-umroh .owl-nav .owl-prev,
.owl-carousel.owl-umroh .owl-nav .owl-next {
    margin: -30px 0 0 0;
    right: -60px;
    width: 60px;
    padding: 10px;
    text-align: center;
    background-color: #d5b341;
}
.owl-carousel.owl-umroh .owl-nav .owl-prev {
    left: -60px;
    right: unset;
}
.owl-carousel.owl-umroh .owl-nav .owl-prev.disabled,
.owl-carousel.owl-umroh .owl-nav .owl-next.disabled {
    display: none;
}
.owl-carousel.owl-umroh .owl-item {
    position: relative;
    border-radius: 14px;
    padding: 25px 15px;
    overflow: hidden;
    height: auto;
    -webkit-transition: all .5s ease-in-out;
         -o-transition: all .5s ease-in-out;
            transition: all .5s ease-in-out;
}
.owl-carousel.owl-umroh .owl-item .item{
    border-radius: 14px;
    overflow: hidden;
}
.owl-carousel.owl-umroh .owl-item:hover {
    -webkit-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);
}
.owl-carousel.owl-umroh .caption {
    font-size: 18px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    text-shadow: none;
}
.card.card-portrait {
    overflow: unset;
    margin: 0;
}
.card.card-portrait .card-content {
    width: 100%;
    height: 100%;
    text-align: left;
    position: relative;
    background-color: rgba(0, 0, 0, .5);
    -webkit-transition: all .3s ease-in-out;
         -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
}
.card.card-gold.card-portrait .card-content:hover {
    background-color: rgba(213, 180, 65, .8);
}
.card.card-blue.card-portrait .card-content:hover {
    background-color: rgba(27, 85, 158, .8);
}
.card.card-portrait .card-content .card-button {
    margin: 60px 0;
    text-align: center;
}
.footer-card {
    position: absolute;
    bottom: 0;
}

.slider-three {
    padding-bottom: 40px;
}

.owl-testimonial {
    height: 300px;
}
.owl-carousel.owl-testimonial .owl-stage-outer {
    height: 300px;
}
.owl-carousel.owl-testimonial .caption{
    color: #555;
    text-shadow: none;
    text-align: justify;
}
.testi-name {
    padding: 20px 0;
    border-top: 1px dashed #000;
}
.icon-quotes {
    text-align: center;
    font-size: 30px;
    color: #000;
    margin-bottom: 30px;
}
.owl-carousel .owl-item .icon-quotes img {
    display: inline-block;
    width: 60px;
}
.owl-carousel.owl-testimonial .owl-prev, 
.owl-carousel.owl-testimonial .owl-next {
    color: #555;
    margin: -30px 0 0 0;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 1px solid #555;
    border-radius: 50%;
    background-color: #fff;
}
.owl-carousel.owl-testimonial .owl-prev{
    padding: 10px 5px 10px 0;
}
.owl-carousel.owl-testimonial .owl-next{
    padding: 10px 0 10px 5px;
}


.rating {
    width: 80px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/star-rating.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}
.rating.rating0 {background-position: 0 0;}
.rating.rating5 {background-position: 0 -16px;}
.rating.rating10 {background-position: 0 -32px;}
.rating.rating15 {background-position: 0 -48px;}
.rating.rating20 {background-position: 0 -64px;}
.rating.rating25 {background-position: 0 -80px;}
.rating.rating30 {background-position: 0 -96px;}
.rating.rating35 {background-position: 0 -112px;}
.rating.rating40 {background-position: 0 -128px;}
.rating.rating45 {background-position: 0 -144px;}
.rating.rating50 {background-position: 0 -160px;}

.owl-partner {
    margin: 40px 0;
}

.section-login-register {

}
.section-login-register a {
    color: #d5b441;
}
.section-login-register .section-title h2{
    margin: 0px 0 10px;
}
.section-login-register .subtitle {
    margin-top: -6px;
}
.section-login-register .btn {
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 20px;
    padding: 14px 24px 10px;
}
.login-content,
.register-content {
    position: relative;
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 20px auto 40px;
    padding: 20px;
    border: 1px solid #d2d2d2;
}
.login-content form {
    margin: 20px;
}
.register-content {
    border: none;
    padding: 0;
}
.register-content .tab-content {
    padding: 40px 40px 0;
    border: 1px solid #d2d2d2;
    border-top: none;
}
.register-content .nav-tabs>li {
    width: 33.3%;
    text-align: center;
}
.tab-content {
    padding: 20px 20px 0;
    border: 1px solid #d2d2d2;
    border-top: none;
}
.nav-tabs>li>a {
    font-size: 18px;
    color: #000;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    margin-right: -1px;
    line-height: 24px;
    border: 1px solid #d2d2d2;
    background-color: #eee;
    border-radius: 10px 10px 0 0;
}
.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:focus, 
.nav-tabs>li.active>a:hover {
    color: #000;
    border: 1px solid #d2d2d2;
    border-bottom-color: transparent; 
    background-color: #fff;
}

.modal-body p {
    font-size: 14px;
    line-height: 20px;
}
.breadcrumb {
    padding: 0;
    margin: 0 0 20px;
    background: none;
}
.breadcrumb ul{
    margin: 0;
    padding: 0;
    position: relative;
    display: block;
}
.breadcrumb ul li{
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
}
.breadcrumb ul li:after{
    position: absolute;
    content: '/';
    width: 20px;
    height: 20px;
    right: -10px;
    top: 0px;
    color: #777;
}
.breadcrumb ul li a{
    color: #777;
    font-style: italic;
    font-size: 16px;
    padding-right: 10px;
    margin-right: 10px;
}
.breadcrumb ul li a:hover{
    text-decoration:none;
}
.breadcrumb ul li:last-child a{
    color: #d5b441;
}
.breadcrumb ul li:last-child:after {
    display: none;
}
.produk-filter,
.produk-deskripsi {
    background-color: #fff;
}
#filter-mobile .produk-filter {
    margin-top: 46px;
}
.produk-filter h1, 
.produk-filter h2, 
.produk-filter h3, 
.produk-filter h4, 
.produk-filter h5 {
    font-family: 'HelNeue-Medium', arial, sans-serif;
    margin: 0 0 10px;
}
.produk-filter .nav-tabs>li {
    width: 49.9%;
    text-align: center;
}
.produk-filter .nav-tabs>li>a {
    color: #777;
    padding: 10px 5px;
    border-color: transparent; 
}
.produk-filter .nav-tabs>li.active>a, 
.produk-filter .nav-tabs>li.active>a:focus, 
.produk-filter .nav-tabs>li.active>a:hover {
    color: #000;
    border: 1px solid transparent;
    border-bottom-color: transparent; 
    background-color: #d5b441;
}
.produk-filter .tab-content {
    padding: 20px;
    background-color: #d5b441;
}
.produk-filter select{
    width: 100%;
}
.produk-filter label {
    cursor: pointer;
    font-size: 16px;
}
.chosen-container {

}
.produk-filter-more,
.produk-deskripsi-item {
    position: relative;
    display: block;
    padding: 20px;
    margin-top: -1px;
    border: 1px solid #d2d2d2;
}
.produk-filter-more .form-check, 
.produk-filter-more .form-group,
.produk-deskripsi-item .form-check,
.produk-deskripsi-item .form-group {
    margin-top: 10px;
    margin-bottom: 10px;
}
.produk-filter-more .form-check:last-child, 
.produk-filter-more .form-group:last-child,
.produk-deskripsi-item .form-check:last-child, 
.produk-deskripsi-item .form-group:last-child {
    margin-bottom: 0px;
}
.search-mobile #btn-filter-produk {
    position: fixed;
    bottom: 0;
    padding: 14px;
    z-index: 99;
}
.produk-item {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}
.produk-item .card.card-portrait{
    overflow: hidden;
    margin-bottom: 30px;
}
.produk-item .card.card-portrait .card-content{
    position: absolute;
}
.produk-item .card-image {
    position: relative;
    height: 400px;
}
.produk-item .card-image img{
    width: 100%;
}

.produk-deskripsi .produk-title {
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    text-transform: uppercase;
    margin-top: 0;
}
.produk-deskripsi-item-content {
    margin-bottom: 20px;
}
.produk-deskripsi-item-content:last-child {
    margin-bottom: 0px;
}
.produk-deskripsi-item-content label {
    font-size: 16px;
    color: #777;
    margin: 0;
    display: block;
}
.produk-deskripsi-item-content label + label{
    margin-top: 10px;
}
.produk-deskripsi-item-content .item-value,
.deskripsi-lainnya-title {
    font-size: 20px;
    color: #000;
    font-family: 'HelNeue-Medium', arial, sans-serif;
}
.deskripsi-lainnya-title {
    margin-bottom: 10px;
}
.produk-deskripsi-item-content ul {
    margin: 0;
    padding: 0;
}
.produk-deskripsi-item-content ul li{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    color: #777;
    margin: 0 0 10px;
    display: block;
}
.produk-harga {
    padding-bottom: 10px;
    background-color: #eee;
}
.produk-harga .produk-deskripsi-item-content .item-value{
    font-size: 38px;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
}
#btn-daftar {
    margin-top: 20px;
    font-size: 24px;
    padding: 15px 20px 10px;
    font-family: 'HelNeue-CN', arial, sans-serif;
}

.produk-detail .produk-item .produk-deskripsi-main {

}
.produk-deskripsi-main .produk-title {
    text-transform: uppercase;
}
.produk-deskripsi-main .produk-deskripsi-item {
    margin-bottom: 20px;
    padding: 20px 0;
    border-color: transparent;
    border-top-color: #d2d2d2;
}
.produk-deskripsi-main .produk-deskripsi-item  .produk-deskripsi-item-content {
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
    border-left: 1px solid #d2d2d2;
}
.produk-deskripsi-main .row [class*='col-md-'] {
    display: table;
    min-height: 50px;
}
.produk-deskripsi-main .row [class*='col-md-']:first-child .produk-deskripsi-item-content {
    border: none;
    padding-left: 0;
}
.produk-image {

}
.produk-image img {
    width: 100%;
    height: auto;
}

.link-back {
    display: inline-block;
    color: #b6a442;
    font-size: 18px;
    font-style: italic;
    margin: 20px 0 0;
}

.pagination-content {
    text-align: center;
    padding: 10px 0 10px;
    border-top: 1px solid #d2d2d2;
}
.pagination>li>a, 
.pagination>li>span {
    color: #1b559d;
    font-size: 16px;
    margin: 0px 5px;
    padding: 4px 10px 2px;
    border: none;
    border-radius: 50%;
}
.pagination>li>a:hover {
    background: none;
}
.pagination>.active>a, 
.pagination>.active>a:focus, 
.pagination>.active>a:hover, 
.pagination>.active>span, 
.pagination>.active>span:focus, 
.pagination>.active>span:hover {
    background-color: #1b559d;
}
.pagination>li:first-child>a, 
.pagination>li:first-child>span,
.pagination>li:last-child>a, 
.pagination>li:last-child>span {
    border-radius: 50%;
}
.pagination>.pagination-more>a{
    cursor: default;
    color: #777;
}

.heading-image {
    position: relative;
    display: block;
    height: 270px;
    overflow: hidden;
}
.heading-image img {
    width: 100%;
    height: auto;
}
.page-default-side-list {
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0 10px;
    background: #f4f4f4;
}
.nav-pills>li>a{
    font-size: 18px;
    padding: 10px 30px;
    color: #777;
    border-radius: 0px;
    background: none;
}
.nav-pills>li.active>a, 
.nav-pills>li.active>a:focus, 
.nav-pills>li.active>a:hover {
    color: #1b559e;
    border-right: 5px solid #1b559e;
    background: none;
}
.read-more-nav {
    display: none;
}

.page-default-body {
    position: relative;
    display: block;
    margin-top: 14px;
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}
.page-default-list {
    position: relative;
    display: block;
    margin: 14px 0;
    padding: 14px 0;
}
.page-default-list:last-child{
    padding-bottom: 0px;
}
.page-default-list .page-default-title {
    color: #000;
    font-size: 24px;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    margin-bottom: 10px;
    line-height: 30px;
}
.page-default-list .page-default-title a {
    color: #000;
    text-decoration: none;
}
.page-default-list .page-default-title a:hover {
    color: #1b559e;
    text-decoration: none;
}
.page-default-list .page-default-image {
    width: 100%;
    height: 164px;
    display: block;
    overflow: hidden;
}
.page-default-list .page-default-image img {
    width: 100%;
    height: auto;
}
.page-default-list .page-default-text, 
.page-default-list .page-default-text p {
    font-size: 16px;
    color: #777;
    line-height: 20px;
}
.page-default-image-detail {
    position: relative;
    display: block;
    margin-bottom: 20px;
}
.page-default-image-detail img{
    width: 100%;
    height: auto
}
.search-area {
    position: relative;
    display: block;
}
.search-area input{
}
.search-area button.btn{
    position: absolute;
    right: 1px;
    top: 1px;
    bottom: 1px;
    border: none;
    color: #1b559e;
}

.list-mitra {

}
.list-mitra img{
    max-width: unset;
    height: 100%;
    width: 80px;
}
.list-mitra [class*='col-md'] {
    display: table;
    height: 100px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.list-mitra [class*='col-md'] .page-default-title{
    display: table-cell;
    vertical-align: middle;
}
.form-text {
    position: relative;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
}
.form-default {
    position: relative;
    display: block;
    margin: 20px 0;
    padding-top: 10px;
}
.btn-submit {
    margin: 20px 0;
}

.other-contact {
    position: relative;
    margin: 0;
    /*padding: 0;*/
    display: block;
}
.other-contact li {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;
    font-size: 16px;
    line-height: 10px;
}
.other-contact li .contact-icon{
    position: relative;
    display: inline-block;
    font-size: 20px;
    margin: 0px 10px 0 0;
    padding-top: 6px;
    top: 10px;
    color: #fff;
    text-align: center;
    width: 34px;
    height: 34px;
    background-color: #000;
    border-radius: 50%;
}
.other-contact li .text-muted{
    margin-left: 48px;
}

.other-contact li.other-contact-email .contact-icon{
    background-color: #1b559e;
}
.other-contact li.other-contact-phone .contact-icon{
    background-color: #000;
}
.other-contact li.other-contact-mobile .contact-icon{
    background-color: #4a9c58;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
    border: none;
    border-top: 1px solid #d2d2d2;
    box-shadow: none;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
    background: none;
    padding: 20px 0 10px;
    border-radius: 0px;
}
.panel-title {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    color: inherit;
}
.panel-title>.small, 
.panel-title>.small>a, 
.panel-title>a, 
.panel-title>small, 
.panel-title>small>a {
    color: inherit;
    display: block;
}
.panel-title a:hover,
.panel-title a:active,
.panel-title a:focus {
    text-decoration: none;
}
.panel-title a:after {
    position: absolute;
    font-family: fontAwesome;
    content: "\f078";
    font-size: 20px;
    color: #aaa;
    right: 0;
    top: 0px;
}
.panel-title a.collapsed:after {
    content: "\f054";
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #ddd;
    border: none;
    padding: 15px 0;
    font-size: 18px;
}

.langkah-langkah {
    margin: 30px 0;
}
.langkah-kolom {
    position: relative;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d2d2d2;
}
.langkah-kolom:last-child {
    border-bottom: 1px solid #d2d2d2;
}

.langkah-kolom .col-md-3 {
    display: table;
    height: auto;
    min-height: 140px;
}
.langkah-kolom:nth-of-type(2n) .col-md-3 {
    float: right;
}
.langkah-image {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.langkah-image img {
    
}

.text-box {
    display: inline-block;
    margin: 20px 0;
    padding: 20px;
    color: #000;
    background-color: #f4f4f4;
}
.text-box .h3,
.text-box .h4,
.text-box .h5 {
    margin: 0;
    font-family: 'HelNeue-Bold', arial, sans-serif;
}
.text-box.gold {
    background-color: #d5b441;
}
.text-box.blue {
    color: #fff;
    background-color: #1b559e;
}

.cek-status-detail {
    position: relative;
    display: block;
    margin: 20px 0;
}
.nomor-pesanan {
    margin: 20px 0 0;
}
.cek-status-info {
    text-align: left;
    margin: 20px 0;
    border: 1px solid #d2d2d2;
}
.cek-status-info h1 {
    margin-top: 0;
}
.cek-status-info .produk-deskripsi-main {
    padding: 40px 40px 20px;
    border-bottom: 1px solid #d2d2d2;
}
.cek-status-info .produk-deskripsi-item {
    margin: 0;
    padding-bottom: 0;
}

.cek-info-produk {
    margin-bottom: 20px;
}
.cek-info-produk label {
    margin-bottom: 0;
    color: #000;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    font-size: 18px;
}
.cek-info-produk .item-value {
    color: #777;
    font-size: 18px;
}
.cek-info-produk.cek-price .item-value {
    color: #1b559d;
    font-family: 'HelNeue-CN', arial, sans-serif;
}
.cek-info-produk.cek-price .item-value h3{
    color: #1b559d;
    margin: 0;
}
.cek-info-produk:last-child {
    margin-bottom: 0px;
}

.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th {
    color: #000;
    padding: 10px 14px;
}
.table>thead>tr>td, 
.table>thead>tr>th {
    color: #777;
}

.pengajuan-top {
    padding: 0 40px;
    display: block;
    background-color: #e4e4e4;
}
.pengajuan-top .pengajuan-top-item {
    padding: 20px;
    border-left: 1px solid #fff;
    border-right: 1px solid #d2d2d2;
}
.pengajuan-top .row {
    margin: 0;
}
.pengajuan-top .col-md-15 {
    padding: 0;
}
.pengajuan-top .col-md-15:first-child .pengajuan-top-item {
    /*padding: 20px 0px 20px 40px;*/
    padding-left: 0;
    border-left: none;
}
.pengajuan-top .col-md-15:last-child .pengajuan-top-item {
    /*padding: 20px 40px 20px 10px;*/
    border-right: none;
    padding-right: 0;
}
.pengajuan-total {
    font-size: 20px;
    font-family: 'HelNeue-CN', arial, sans-serif;
    padding: 20px 40px;
}
.pengajuan-total .h1{
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    color: #fff;
    margin: 10px 0 0;
    font-size: 50px;
}
.form-pengajuan {
    margin-top: 20px;
}
.form-pengajuan .form-group {
    margin-top: 20px;
}

.form-edit-container {
    position: relative;
    display: inline-block;
    width: 100%;
    border: 1px solid #d2d2d2;
}
.form-edit-container .col-left {
    width: 30%;
    border-right: 1px solid #d2d2d2; */
}
.form-edit-container .col-right {
    width: 70%;
    margin-left: -1px;
    border-left: 1px solid #d2d2d2;
}
.form-edit-container .col-left,
.form-edit-container .col-right {
    text-align: left;
    display: inline-block;
    height: auto;
    min-height: 20px;
    float: left;
    /* border: 1px solid #d2d2d2; */
}
.form-edit-container .col-content {
    margin: 40px 40px 20px;
}
.side-right .form-edit-container .col-content {
    margin: 20px 20px 0;
}
.form-heading {
    margin-bottom: 10px;
    color: #000;
    font-family: 'HelNeue-Bold-CN', arial, sans-serif;
    font-size: 18px;
}
.form-section {
    border-bottom: 1px solid #d2d2d2;
}
.form-section:last-child {
    border: none;
}

.form-group {
    margin-bottom: 20px;
}
.col-heading {
    width: 100%;
    border-bottom: 1px solid #d2d2d2;
}
.col-heading .col-content {margin-top: 20px;}
.menu-form-profil {
    position: relative;
    margin: 0;
    padding: 0;
    display: inline-block;
}

.menu-form-profil li {
    position: relative;
    margin: 0;
    padding: 0 30px;
    list-style: none;
    float: left;
    display: table;
    height: 40px;
}

.menu-form-profil li:first-child {
    padding-left: 0;
}
.menu-form-profil li:after {
    position: absolute;
    right: -8px;
    top: 0px;
    content: '>';
    color: #ccc;
    font-size: 26px;
}
.menu-form-profil li:last-child:after {
    content: '';
}

.menu-form-profil li a {
    color: #aaa;
    display: table;
}
.menu-form-profil li a:hover {
    text-decoration: none;
}

.menu-form-profil li.active a {
    color: #d5b441;
}
.menu-form-profil li .nomor {
    font-size: 40px;
    display: inline-block;
    font-family: 'HelNeue-CN', arial, sans-serif;
    line-height: 30px;
    padding-top: 5px;
    margin-right: 10px;
}
.menu-form-profil li .name-form {
    display: table-cell;
    vertical-align: middle;
}
.button-avatar {
    margin-bottom: 20px;
}
.image-preview {
    text-align: center;
    margin-bottom: 20px;
}
.image-preview img{
    width: 160px;
    height: auto;
}

.custom-file {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 2.5rem;
    margin-bottom: 0;
    cursor: pointer;
}
.custom-file-input {
    min-width: 14rem;
    max-width: 100%;
    height: 2.5rem;
    margin: 0;
    filter: alpha(opacity=0);
    opacity: 0;
}
.custom-file-control {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: 2.5rem;
    padding: .5rem 1rem;
    line-height: 1.5;
    color: #464a4c;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0 .25rem .25rem 0;
}
.custom-file-control::after {
    content: "";
}
.custom-file-control::before {
    content: "Browse";
}
.input-link {
    display: block;
    padding: 5px 10px;
    border: 1px solid #d2d2d2;
    font-style: italic;
}
.input-text-muted {
    display: block;
    color: #000;
    font-size: 16px;
    font-family: 'HelNeue-Medium', arial, sans-serif;
}

.cek-status-top {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    font-family: 'HelNeue-CN', arial, sans-serif;
    font-size: 16px;
}
.cek-status-top a {
    color: #d5b441;
}

.login-avatar {
    width: 50px;
    height: 50px;
    /*overflow: hidden;*/
}
.login-avatar img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.login-user {
    position: relative;
    display: inline-block;
    width: 100%;
}
.login-dropdown {
     display: none; 
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -90px;
    width: 180px;
    padding: 10px;
    text-align: center;
    background-color: #fff;
    z-index: 99;
    box-shadow: 0 0px 5px rgba(0,0,0,0.1);
}
.login-dropdown ul {
    margin: 0;
    padding: 0;
    display: block;
}
.login-dropdown ul li {
    padding: 16px 0 0px;
    list-style: none;
    font-size: 14px;
}
.login-dropdown ul li a{
    color: #d5b441;
}
.login-dropdown ul li.username {
    color: #000;
    font-size: 18px;
    padding: 5px 0 5px;
    font-family: 'HelNeue-CN', arial, sans-serif;
    border-bottom: 1px solid #d2d2d2;
}
.login-dropdown.show {
    display: block;
}
.login-user:hover .login-dropdown {
    display: block;
}
.stickyTop .login-avatar {
    width: 34px;
    height: 34px;

}

.wizzard-progress {
    display: block;
    position: relative;
    margin: 20px 0 0;
    padding: 0;
}
.wizzard-progress li {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    width: 19.6%;
    font-family: 'HelNeue-Bold', arial, sans-serif;
}
.wizzard-progress li .line {
    position: absolute;
    height: 10px;
    width: 100%;
    left: -50%;
    top: 50%;
    margin-top: -18px;
    z-index: 0;
    background-color: #aaa;
}

.wizzard-progress li .number-wizzard {
    position: relative;
    color: #fff;
    width: 30px;
    height: 30px;
    margin: 0 auto 10px;
    padding-top: 5px;
    border-radius: 50%;
    background-color: #aaa;
    z-index: 2;
}

.wizzard-progress li .text-wizzard {
    text-align: center;
    color: #aaa;
}
.wizzard-progress li.active .line {
    background-color: #1b559e;
}
.wizzard-progress li.active .number-wizzard {
    background-color: #1b559e;
}
.wizzard-progress li.active .text-wizzard {
    color: #1b559e;
}
.wizzard-progress li.active.current:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    margin-left: -20px;
    margin-top: -5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #1b559e;
    background-color: #fff;
    z-index: 1;
}

.wizzard-progress li:first-child .line {
    display: none;
}
/*.wizzard-progress li.active.current .number-wizzard span {
    width: 30px;
    height: 30px;
    background-color: #1b559e;
    border-radius: 50%;
}*/

footer {

}

footer.footer {
    padding-bottom: 20px;
    background-color: #d5b441;
}
footer .footer-top{
    padding: 14px 0 10px;
    margin-bottom: 14px;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
footer.footer h4{
    color: #1b559e;
    margin-bottom: 14px;
}
footer.footer .footer-body {
    /*padding-left: 14px;*/
}
footer.footer .footer-body h1,
footer.footer .footer-body h2,
footer.footer .footer-body h3,
footer.footer .footer-body h4,
footer.footer .footer-body h5 {
    color: #000;
    font-family: 'HelNeue-Bold', arial, sans-serif;
    margin-bottom: 0;
}
footer.footer .footer-body ul{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
footer.footer .footer-body ul li{
    margin: 0px 0 14px;
    padding: 0;
    list-style: none;
    color: #000;
}
footer.footer .footer-body ul li a{
    color: #414141;
    font-family: 'HelNeue-Bold', arial, sans-serif;
    text-transform: uppercase;
}
.copyright{
    color: #fff;
    padding: 14px 0;
    text-align: center;
    background-color: #1b559e;
}





