<body style="position: relative; display: block;margin:0;padding:0;font-size: 14px;font-family: Helvetica, arial;background-color: #eee;">
	<div style="width: 100%;max-width: 640px;margin:40px auto;display: block;background-color: #fff;">

		<!-- Header -->
		<div style="padding:20px;color:#000;border-top:3px solid #0955a0;border-bottom:2px solid #eee;">
			<div style="text-align: center;">
				<img src="http://maskoddigital.com/bfihtml2/img/logo-bfi-syariah.png" alt="" style="height: 60px; width: auto;"> <!-- ganti url logo dari server BFI syariah -->
			</div>
		</div>

		<!-- Content HERE -->
		<div style="padding:40px;color:#000;">
			<div style="font-size: 20px; color: #000; font-weight: bold;margin-bottom: 10px;">
				Hi Jhon,
			</div>
			<div style="font-size: 20px; color: #000;">
				Terimakasih telah mendaftar di <a href="#" style="color:#0955a0; text-decoration: none!important;">www.bfisyariah.com</a>
			</div>
			<div style="margin:20px 0;height: 2px; display: block;background-color: #eee;"></div>
			<div style="line-height: 22px;">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum id illo distinctio, quia in reiciendis nam dolorum itaque aliquid eius omnis. Neque adipisci explicabo cumque reiciendis officiis tenetur, doloribus delectus sequi recusandae autem eius, quae fuga, suscipit dolores dignissimos ipsa.
			</div>
		</div>

		<!-- Footer -->
		<div style="color:#000;background-color:#d5b441;">

			<div style="padding:10px 40px;display:block;text-align:center;border-bottom: 1px solid rgba(0,0,0,.2);">
				PT BFI Finance Indonesia Tbk terdaftar dan diawasi oleh OJK
			</div>

			<div style="padding: 20px 40px;">
				<div style="width: 40%;padding: 10px 20px;display: inline-block;vertical-align: top;">
					<h3 style="color:#0955a0; font-weight: bold;margin-bottom: 10px;">CORPORATE</h3>
                    <div style="color:#000; font-weight: bold;">
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		TENTANG KAMI
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		JELAJAH BFI
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		LEGAL
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		PARTNER KAMI
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		TERMS & CONDITION
                        	</a>
                        </div>
                    </div>
				</div>
				<div style="width: 40%;padding: 10px 20px;display: inline-block;vertical-align: top;">
					<h3 style="color:#0955a0; font-weight: bold;margin-bottom: 10px;">SUPPORT</h3>
                    <div style="color:#000; font-weight: bold;">
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		CONTACT US
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		FAQ
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		LIVE CHAT
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		BECAME A TRAVEL PARTNER
                        	</a>
                        </div>
                        <div style="margin-bottom: 10px;">
                        	<a href="#" style="color:#000;font-weight:bold;text-decoration:none;">
                        		BECAME AN AGENT
                        	</a>
                        </div>
                    </div>
				</div>

				<div style="margin:20px 0;height: 2px; display: block;background-color: rgba(0,0,0,.2);"></div>

				<div style="width: 40%;padding: 10px 20px;display: inline-block;vertical-align: top;">
					<h3 style="color:#0955a0; font-weight: bold;margin-bottom: 10px;">FOLLOW US</h3>
                    <div style="color:#000; font-weight: bold;">
                    	<img src="http://maskoddigital.com/bfihtml2/img/Media_sosial-footer.png" alt="">
                    	<!-- ganti url logo dari server BFI syariah -->
                    </div>
				</div>

				<div style="width: 40%;padding: 10px 20px;display: inline-block; vertical-align: top;">
					<h3 style="color:#000; font-weight: bold;margin-bottom: 10px;">KANTOR PUSAT BFI FINANCE</h3>
                    <div style="color:#000;">
                        BFI Tower, Sunburst CBD Lot.1.2<br>
                        Jl. Kapt. Soebijanto Djojohadikusumo<br>
                        BSD City - Tangerang Selatan 15322<br>
                        T. +62 21 2965 0300, 2965 0500<br>
                        F. +62 21 2966 0757, 2966 0758<br>
                    </div>
				</div>




			</div>

			<div style="color:#fff;padding:10px 40px;display: block;text-align:center;background-color: #0856a1;">
				Copyright of BFI Finance &copy; 2017 - Allright reserved
			</div>
		</div>
	</div>
</body>